.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.profile-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: aliceblue;
  width: 95%;
}

.profile-details-name {
  font-size: 24px;
}

.profile-details-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 40px;
}

.primary-text {
  color: --white;
}

.highlighted-text {
  font-weight: bold;
  color: var(--dark-orange);
}

.profile-role-tagline {
  font-size: 18px;
  margin: 5px 0 0 0;
}

.primary-btn,
.highlighted-btn {
  font-weight: bold;
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}

.profile-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-orange);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
  overflow: hidden;
}

.profile-picture-background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/Home/avataaars (1).svg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile-picture-background:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
}

.colz .colz-icon i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media only screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-options,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 280px;
    width: 280px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
/*# sourceMappingURL=Profile.css.map */